<div class="inventory-root">
  <main class="inventory-main animate-slide-up">
    <section class="catalog-section">
      <h2 class="section-title">Categorías</h2>

      <app-category-slider
        [categories]="categories()"
        [isLoading]="loadingCategories()"
        [selectedCategoryId]="selectedCategoryId()"
        (selected)="onSelectCategory($event)"
      />
      
      <div class="section-header">
        <h2 class="section-title">Productos</h2>
        <button class="btn-add-product" (click)="onAddProduct()">
          <lucide-icon name="Plus" [size]="18"></lucide-icon> Añadir Producto
        </button>
      </div>

      <app-inventory-product-grid
        [products]="inventoryFacade.products()"
        [loadingProducts]="inventoryFacade.loading()"
        (modifyProduct)="onModifyProduct($event)"
        (deleteProduct)="onDeleteProduct($event)"
        (loadMore)="onLoadMore()"
      />

    </section>
  </main>
</div>
