.cart-item {
  display: flex;
  gap: var(--space-2);
  padding: 8px 0;
  align-items: center;
}

.cart-item-img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: var(--radius-sm);
  border: 2px solid var(--color-border);
  flex-shrink: 0;
}

.cart-item-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-name {
  font-size: var(--font-size-base);
  font-family: var(--font-title-family);
  font-weight: var(--font-title-weight);
  color: var(--color-text);
}

.remove-btn {
  background: none;
  height: 18px;
  width: 18px;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: var(--color-text);
}

.remove-btn:hover {
  color: var(--color-danger);
}

.cart-item-desc {
  color: var(--color-text);
  font-family: var(--font-text-family);
  font-weight: var(--font-text-weight);
  font-size: var(--font-size-sm);
}

.cart-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-price {
  font-weight: var(--font-title-weight);
  font-family: var(--font-title-family);
  font-size: 1.2rem;
  color: var(--color-primary-600);
}
