<header class="navbar" role="banner">
  <app-search-input></app-search-input>

  <div class="user-section">
    <div class="user-info">
    <span class="username">{{ username() }}</span>
    <span class="date">{{ currentDate() }}</span>
  </div>

  <app-dropdown #profileDropdown="appDropdown">

    <div dropdownTrigger>
      <app-icon-button
        [icon]="profileIconPath()"
        [isActive]="profileDropdown.open()"
        ariaLabel="Perfil"
      />
    </div>

    <div dropdownMenu>
      <button>
        <lucide-icon name="user" [size]="16" class="menu-icon" />
        <span>Ver perfil</span>
      </button>
      <button>
        <lucide-icon name="settings" [size]="16" class="menu-icon" />
        <span>Configuración</span>
      </button>
      <div class="dropdown-divider"></div>
      <button class="dropdown-danger" (click)="onLogout()">
        <lucide-icon name="log-out" [size]="16" class="menu-icon" />
        <span>Cerrar sesión</span>
      </button>
    </div>

    </app-dropdown>

    <app-dropdown #notificationsDropdown="appDropdown">

      <div dropdownTrigger>
        <app-icon-button
          [icon]="notificationsIconPath()"
          [isActive]="notificationsDropdown.open()"
          ariaLabel="Notificaciones"
        />
      </div>

      <div dropdownMenu>
        <div class="notification">
          <lucide-icon name="alert-circle" [size]="15" class="notification-icon warning" />
          <span>Stock bajo: Traje negro</span>
        </div>

        <div class="notification">
          <lucide-icon name="alert-circle" [size]="15" class="notification-icon" />
          <span>Pedido pendiente</span>
        </div>

        <div class="dropdown-divider"></div>
        <button class="dropdown-link">
          <span>Ver todas</span>
        </button>
      </div>

    </app-dropdown>
  </div>
</header>
