<header class="navbar" role="banner">
  <app-search-input></app-search-input>

  <div class="user-section">
    <div class="user-info">
    <span class="username">{{ username() }}</span>
    <span class="date">{{ currentDate() }}</span>
  </div>

  <app-dropdown #profileDropdown="appDropdown">

    <div dropdownTrigger>
      <app-icon-button
        [icon]="profileIconPath()"
        [isActive]="profileDropdown.open()"
        ariaLabel="Perfil"
      />
    </div>

    <div dropdownMenu>
      <button>Ver perfil</button>
      <button>Configuración</button>
      <button (click)="onLogout()">Cerrar sesión</button>
    </div>

    </app-dropdown>

    <app-dropdown #notificationsDropdown="appDropdown">

      <div dropdownTrigger>
        <app-icon-button
          [icon]="notificationsIconPath()"
          [isActive]="notificationsDropdown.open()"
          ariaLabel="Notificaciones"
        />
      </div>

      <div dropdownMenu>

        <div class="notification">
          Stock bajo: Traje negro
        </div>

        <div class="notification">
          Pedido pendiente
        </div>

        <button>Ver todas</button>

      </div>

    </app-dropdown>
  </div>
</header>
