<article class="product-card-skeleton" aria-hidden="true">
  <app-skeleton class="skeleton-img" height="140px" />

  <app-skeleton class="skeleton-name" height="1.1rem" width="70%" />
  <app-skeleton class="skeleton-desc" height="0.9rem" width="90%" />

  <div class="product-row">
    <app-skeleton class="skeleton-price" height="1.2rem" width="45%" />
    <app-skeleton class="skeleton-stock" height="1.2rem" width="30%" />
  </div>

  <app-skeleton class="skeleton-btn" height="2.2rem" />
</article>
