.main-layout-shell {
  --layout-sidebar-width: 240px;
  display: grid;
  grid-template-columns: var(--layout-sidebar-width) 1fr;
  height: 100vh;
}

.main-layout-content {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 0;
}

.main-layout-router-view {
  overflow: auto;
  min-height: 0;
}

.main-layout-sidebar {
  height: 100%;
  min-width: 0;
}
