@import '@angular/cdk/overlay-prebuilt.css';
@import './app/shared/ui/tokens/tokens.css';
@import './app/shared/ui/tokens/animations.css';

body {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--ds-bg-app);
  color: var(--ds-text-base);
  font-family: var(--pr-font-text);
}
