@import '@angular/cdk/overlay-prebuilt.css';

:root {
  --font-title-family: "Montserrat", sans-serif;
  --font-text-family: "Roboto", sans-serif;

  --font-title-weight: 600;
  --font-text-weight: 400;
  
  --color-primary-700: #1a2764;
  --color-primary-600: #233387;
  --color-primary-50: #ebf3ff;

  --color-bg: #f9fafb;
  --color-border: #d1d4db;
  --color-text: #374151;
  --color-text-strong: #111827;

  --color-success: #059669;
  --color-warning: #f59e0b;
  --color-danger: #dc2626;
}

body {
  margin: 0;
}
